body {
                background-color: #1E1F29;
                font-family: Fira Sans;
}

* {
                box-sizing: border-box;
}

input,
textarea,
select {
                background: #2E2D3D;
                color: #FAFAFA;
                font-family: Fira Sans;
                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 120%;
                letter-spacing: 0%;
                padding: 27px 48px 13px;
                border: none;
                border-radius: 10px;
                width: 100%;
}

label {
                position: absolute;
                top: 12px;
                left: 48px;
                bottom: 48px;
}

h1 {
                font-weight: 400;
                font-style: Regular;
                font-size: 36px;
                line-height: 120%;
                letter-spacing: 0%;
                text-align: center;
                color: white;
                text-align: center;
                margin: 0 0 32px 0;
}

.field {
                margin-bottom: 16px;
                position: relative;

}

.field img {
                position: absolute;
                top: 17px;
                left: 16px;
}

.submit-btn {
                padding: 12px;
                border: none;
                border-radius: 10px;
                background: #6C38CC;
                color: #FAFAFA;
                width: 100%;
}